<div class="mt-8" >
    <div class="flex gap-2">
        <div class="flex-1">
            <h2 class="font-bold mb-3">Not started</h2>
            <div id="<%= "section-#{@sections.first.id}" %>" data-controller="sortable" >
                <% @not_started_todos.each do |todo| %>
                    <div id="<%= "item-#{todo.id}" %>" class="flex justify-between items-center w-full px-5 py-3 mb-2 shadow-md border border-solid rounded">
                        <div class="flex items-center">
                            <span> <%= todo.title %> </span>
                        </div>
                        <%= button_to "Delete", todo, method: :delete, class: "cursor-pointer rounded-md text-m text-red-700 shadow-sm" %>
                    </div>
                <% end %>
            </div>
        </div>

        <div class="flex-1">
            <h2 class="font-bold mb-3">In progress</h2>
            <div id="<%= "section-#{@sections.second.id}" %>" data-controller="sortable" >
                <% @in_progress_todos.each do |todo| %>
                    <div id="<%= "item-#{todo.id}" %>" class="flex justify-between items-center w-full px-5 py-3 mb-2 shadow-md border border-solid rounded">
                        <div class="flex items-center">
                            <span> <%= todo.title %> </span>
                        </div>
                        <%= button_to "Delete", todo, method: :delete, class: "cursor-pointer rounded-md text-m text-red-700 shadow-sm" %>
                    </div>
                <% end %>
            </div>
        </div>

        <div class="flex-1">
            <h2 class="font-bold mb-3">Done</h2>
            <div id="<%= "section-#{@sections.third.id}" %>" data-controller="sortable" >
                <% @done_todos.each do |todo| %>
                    <div id="<%= "item-#{todo.id}" %>" class="flex justify-between items-center w-full px-5 py-3 mb-2 shadow-md border border-solid rounded">
                        <div class="flex items-center">
                            <span> <%= todo.title %> </span>
                        </div>
                        <%= button_to "Delete", todo, method: :delete, class: "cursor-pointer rounded-md text-m text-red-700 shadow-sm" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>