<div class="p-5" >
  Time this page was loaded: <%= Time.now.to_formatted_s(:db) %>

  <%= turbo_frame_tag "all-section" do %>
    <p class="mb-5" style="color: green"><%= notice %></p>

    <%= render "form", todo: @todo %>

    <%= render "todo_list", todos: @todos %>
  <% end %>
</div>
